<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src * self blob: data: gap:; style-src * self 'unsafe-inline' blob: data: gap:; script-src * 'self' 'unsafe-eval' 'unsafe-inline' blob: data: gap:; object-src * 'self' blob: data: gap:; img-src * self 'unsafe-inline' blob: data: gap:; connect-src self * 'unsafe-inline' blob: data: gap:; frame-src * self blob: data: gap:;"
    />
    <title>Log In</title>

    <link rel="stylesheet" href="styleLogin.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"
      integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <div class="container">
      <form class="form-login">
        <div class="login">
          <input
            class="type"
            id="email"
            type="text"
            name="email"
            placeholder="E-mail"
            required
          />
          <input
            class="type"
            id="password"
            type="password"
            name="password"
            placeholder="password"
            required
          />
          <button type="submit" class="login-button">Log In</button>
      </form>

      <button type="click" class="orText">
        <p>Or Create Account</p>
      </button>
    </div>
    </div>
    <script type="module">
      
      export const login = async (email, password) => {
        try {
          const res = await axios({
            method: 'POST',
            url: 'http://127.0.0.1:3000/api/v1/users/login',
            data: {
              email,
              password,
            },
   
          });
          if (res.data.status === 'success') {
            alert('Logged in successfuly ✔️');
            window.setTimeout(() => {
              location.assign('http://127.0.0.1:3000/overview');
            }, 1500);
          }
        } catch (err) {
          alert(err.response.data.message + '❌');
          console.log(err.response.data.message);
        }
      };

      export const goToSignUp = async () => {
        try {
          location.assign('http://127.0.0.1:3000/signup')
        } catch (err) {
          alert(err.response.data.message + '❌');
          console.log(err.response.data.message);
        }
      };
      //INDEX
      const loginForm = document.querySelector('.form-login');

      if (loginForm) {
        loginForm.addEventListener('submit', (e) => {
          e.preventDefault();
          const email = document.getElementById('email').value;
          const password = document.getElementById('password').value;
          console.log(email, password);
          login(email, password);
        });

        const signUpButton = document.querySelector('.orText');
        signUpButton.addEventListener('click', () => {
          goToSignUp();
        });
      }
    </script>
  </body>
</html>
